---
import Layout from '../../layouts/Layout.astro'

export async function getStaticPaths() {
    const projects = [
        { slug: 'project-1', title: 'Project 1', description: 'Description 1' },
        { slug: 'project-2', title: 'Project 2', description: 'Description 2' },
    ]

    return projects.map((project) => ({
        params: { slug: project.slug },
        props: { project },
    }))
}

const { project } = Astro.props
---

<!-- HTML: Page Structure -->
<Layout>
    <div class="max-w-2xl mx-auto py-8 px-4">

    </div>
</Layout>
