---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

const projects = [
	{ title: "Project 1", description: "Description 1" },
	{ title: "Project 2", description: "Description 2" },
];
---

<Layout>
	<Header title="My Portfolio" />


  	<!-- Introducción -->
  	<div class="max-w-2xl mx-auto py-12 px-4 text-center">
		<h1 class="text-4xl font-bold text-gray-900">¡Hola! Soy Javier Martínez</h1>
		<p class="mt-4 text-lg text-gray-700">
		Desarrollador web apasionado por crear soluciones innovadoras y experiencias digitales memorables.
		</p>
  	</div>

	{projects.map((project) => (
		<Card title={project.title} description={project.description} />
	))}

    <Footer />
</Layout>
