---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

/*
const projects = [
	{ title: "Project 1", description: "Description 1" },
	{ title: "Project 2", description: "Description 2" },
];
*/
---

<Layout>
	<Header title="My Portfolio" />


  	<!-- Introducción -->
  	<div class="max-w-2xl mx-auto py-12 px-4 text-center">
		<h1 class="text-4xl font-bold text-gray-900">¡Hola! Soy Javier Martínez</h1>
		<p class="mt-4 text-lg text-gray-700">
			Web developer focused on creating innovative solutions and impactful digital experiences.
		</p>
  	</div>

	<!-- Habilidades -->
	<div class="max-w-4xl mx-auto py-12 px-4">
		<h2 class="text-2xl font-bold text-gray-900 text-center">My Skills</h2>
		<div class="mt-6 grid grid-cols-1 md:grid-cols-3 gap-6">
		<div class="bg-white p-6 rounded-lg shadow-md">
			<h3 class="text-xl font-bold text-gray-900">Web Development</h3>
			<p class="mt-2 text-gray-700">
				Skill 1
				<!--
					I create modern and responsive web applications using the latest technologies.
				-->
			</p>
		</div>
		<div class="bg-white p-6 rounded-lg shadow-md">
			<h3 class="text-xl font-bold text-gray-900">UI/UX Design</h3>
			<p class="mt-2 text-gray-700">
				Skill 2
				<!--
					I design intuitive and attractive interfaces to enhance the user experience.
				-->
			</p>
		</div>
		<div class="bg-white p-6 rounded-lg shadow-md">
			<h3 class="text-xl font-bold text-gray-900">Consulting</h3>
			<p class="mt-2 text-gray-700">
				Skill 3
				<!--
					I offer personalized consulting to take your ideas to the next level.
				-->
			</p>
		</div>
		</div>
	</div>

	<!--
	{projects.map((project) => (
		<Card title={project.title} description={project.description} />
	))}
	-->

    <Footer />
</Layout>
